<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Darker+Grotesque|Libre+Franklin&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css"/>
	<title>Invest Smarter | SoVest</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://d3js.org/d3.v4.js"></script>
	<script src="/assets/js/sovestPub.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>

<body>
	{{{ body }}}
</body>

</html>