<div class="container-fluid">
    <div class="row">
        <h1>SoVest</h1>
    </div>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Influencers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stocks</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="row">
        <h2>Misson statement</h2>
    </div>
    <div class="row">
        <h2>Sample graph</h2>
    </div>
    <div class="row">
        <div id="my_dataviz"></div>
    </div>
    <div class="row">
        <button id="inflBtn">See All Influencers</button>

        <div id="cards">
            {{> influencers/infl-block }}
        </div>

    </div>

    <div class="row">
        <h2>Add a Partner to your Database</h2>

        <input class="" id="nameInput" name="name" type="text" placeholder="Enter Name..." />

        <input class="" id="handleInput" name="handle" type="text" placeholder="Enter Instagram Handle..." />

        <button id="addBtn">Add Partner</button>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
    $(document).ready(function () {
        var closeStock = [];
        var date = [];
        let iexcloudKey = "pk_cd9b9d66c0894584a1e3f9e96ca230a1";

        function initGraph() {
            var queryUrl = `https://cloud.iexapis.com/stable/stock/twtr/chart?token=${iexcloudKey}`;
            $.ajax({
                url: queryUrl,
                method: "GET"
            }).then(function (response) {
                for (var i = 0; i < response.length; i++) {
                    //   console.log(response[i].close);
                    closeStock.push(response[i].close);
                    date.push(response[i].label);
                }

                var ctx = document.getElementById('myChart').getContext('2d');
                //console.log(data);
                console.log(closeStock);
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: date,
                        datasets: [{
                            label: 'Stock at Close',
                            data: closeStock,
                            backgroundColor: [

                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                    // instead of beginAtZero we can define ints for 'min' and 'max' values
                                }
                            }]
                        }
                    }
                });
            });

        }


        initGraph();

    });
</script>