<header class="mainHeader">
    <nav class="navbar navbar-expand-lg fixed-top" id="navigation">
        <a class="nav-item nav-link" style="color: white" href="/views/index.handlebars">SOVE$T
            <img class="logoIcon" src="" alt="">
        </a>
        <div class="nav-item nav-link">|</div>
        <a class="nav-item nav-link" style="color: white;" href="/views/influencers.handlebars">Influencers</a>
        <a class="nav-item nav-link" style="color: white" href="/views/about.handlebars">About Us</a>
    </nav>
    <div class="container">
        <h1>Influential Investing</h1>
        <p class="headPara">Invest in brands investing in your favorite influencers.</p>
        <p>
            <button>Learn more</button>
        </p>
    </div>
</header>

    <div class="container">
        <h2>Influencers Affecting The Market</h2>
        <p>The influencer marketing industry is on track to be worth up to $15 billion by 2022, up from as much as $8 billion in 2019, according to Business Insider Intelligence estimates, based on Mediakix data.*</p>
        <p>With almost all companies leveraging influencers within their marketing plans, what many people don’t realize is that the way companies invest in influencers could effect their stock performance. By understanding the company’s investment into these programs gives you deeper knowledge into the company you are investing in.</p>
    </div>

    <div class="container">
        <div id="my_dataviz">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
                <canvas id="myChart" width="800" height="200"></canvas>
  
        </div>
    </div>
    <div id="influencerPost"></div>
    <div class="container">
        <button id="init">See All</button>
    </div>


    <div class="container">
        <button id="inflBtn">See All Influencers</button>

        <div id="cards">
            {{> influencers/infl-block }}
        </div>

    </div>

    <div class="container">
        <h2 class="row">Add an Influencer to Our Database</h2>

        <input class="col-md-3" id="nameInput" name="name" type="text" placeholder="Enter Influencer Name..." />

        <input class="col-md-3" id="handleInput" name="handle" type="text" placeholder="Enter Instagram Handle..." />

        <button id="addBtn">Add Influencer</button>
    </div>
</div>
