<div class="container-fluid">
    <div class="row">
        <h1>SoVest</h1>
    </div>

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Influencers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Stocks</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
    <div class="row">
        <h2>Misson statement</h2>
    </div>
    <div class="row">
        <h2>Sample graph</h2>
    </div>
    <div class="row">
        <button id="inflBtn">See All Influencers</button i>
    </div>

    <div class="row">
    <h2>Add a Partner to your Database</h2>
        
        <input class="" id="nameInput" name="name" type="text" placeholder="Enter Name..." />
        <input class="" id="handleInput" name="handle" type="text" placeholder="ex. @rachaelhomann..." />
        
        <button id="addBtn">Add Partner</button>
        
    </div>
</div>