/* naviagation & header */
.mainHeader {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    background: url(/assets/images/linh-nguyen-RJ-aKiGjpek-unsplash.jpg);
    background-size: 100%, 100%;
    background-repeat: no-repeat;
    margin-top: 2% 0;
    padding: 500px 64px 64px 64px;
    
}

nav {
    background-color: #2B2928;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 0px 10px;
}

nav a.hover{
    text-decoration: underline;
    color: white;
}

.headPara{
    font-size: 25px;
}
.headerImage {
    max-width: 100vw;
}

/* Body Syles */
body {
   background: whitesmoke;
   display:flex;
   flex-direction:column;
   font-family: 'Lato', sans-serif;
   font-size: 16px;
}

h1 {
    font-family: 'Antic Didone', serif;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

button {
    background-color: #569182;
    border: none;
    color: #DDE3E6;
    border-radius: 0.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    
}
button:focus {outline:0;};
p{
    font-size: 16px;
}

.card{
    box-shadow: #2b2d2f;
    -webkit-column-break-inside: avoid;
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem;
}

.container {
    padding: 1rem;
}

#influencerPost{
    text-align: center;
}

  
.label {
    font-weight: bold;
  }
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}
  
.form-group {
    margin-bottom: 5px;
}