/*Foundation Hook*/
@include foundation-everything;

/* naviagation & header */
header {
    background: #BF879A;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-style: bold;
    color: whitesmoke
}

body {
   background: whitesmoke; 
   font-family: 'Libre Franklin', sans-serif;
   font-size: 16px;
   color: #2b2d2f;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-style: bold;
    color: #2b2d2f;
}
li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }