

/* naviagation & header */
header {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    font-style: bold;
    color: whitesmoke
}

body {
   background: whitesmoke;
   display:flex;
   flex-direction:column;
   font-family: 'Libre Franklin', sans-serif;
   font-size: 16px;
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-style: bold;
    color: #2b2d2f;
}

button {
    background-color: #67825B;
    color: #DDE3E6;
    border-radius: 0.5rem;
}

  
.label {
    font-weight: bold;
  }
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}
  
.form-group {
    margin-bottom: 5px;
}